HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified



AWS_ACCESS_KEY_ID=AKIATCKASJ3I7HIAEE3I
AWS_ACCESS_SECRET=Rek57+XNyCU8qzYYKJq3X8cF08C3FQN/
AWS_REGION=eu-north-1
AWS_BUCKET=ellemora